{# <nav class="navbar navbar-expand-lg navbar-light navbar-float" style="margin-top: -20px;">
      <div class="container">
        <a href="index.html" class="navbar-brand"><img src="{{ asset('img/logo_bogor.png') }}" height="40" width="40"><span class="judul">Portal PPDB sss</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0"> #}
            <li class="nav-item active">
              <a href="index.html" class="nav-link">Beranda</a>
            </li>
            {# <li class="nav-item">  
              <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" style="font-size: 17px;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasi
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="html/jalur.twig">Jalur</a>
                  <a class="dropdown-item" href="{{ ('jadwal-ppdb') }}">Jadwal</a>
                  <a class="dropdown-item" href="#">...</a>
                </div>
              </div>
            </li> #}
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Kontak</a>
            </li>
          {# </ul>
        </div>
      </div>
    </nav> #}