<div class="deskripsi mx-3">
    <div class="container">
        <div class="row">
            <div class="col order-md-1">
                <img src="{{deskripsi.image}}" width="100%" height="615px" alt="" class="d-block w-100" alt="...">
            </div>
            <div class="col-md-7 mt-md-3">
                <h2 class="title">{{deskripsi.title}}</h2>
                <p class="sub-title">{{deskripsi.desc}}</p>
            </div>
        </div>
    </div>
</div>